<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="all">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div class="main">
    <div class="cargo-list">
      <div *ngFor="let box of boxes" class="box">
        <div class="box-id">Box Id {{ box.id }}</div>
        <div class="triple">
          <div class="triple-label">position:</div>
          <input type="number" [(ngModel)]="box.position.x">
          <input type="number" [(ngModel)]="box.position.y">
          <input type="number" [(ngModel)]="box.position.z">
        </div>
        <div class="triple">
          <div class="triple-label">size:</div>
          <input type="number" [(ngModel)]="box.size.x">
          <input type="number" [(ngModel)]="box.size.y">
          <input type="number" [(ngModel)]="box.size.z">
        </div>
      </div>
      <button (click)="updateBoxes()">Update boxes</button>
    </div>
    <div class="view">
      <canvas #canvas>

      </canvas>
    </div>
  </div>
</div>


